/*regola di reset*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
/*regola di test inserita per vedere come ci muoviamo nella pagina*/
    
    
    

/* fine regola di test inserita per vedere come ci muoviamo nella pagina*/

}
/*fine regola di reset*/

body{ 
    
    font-family: 'Nunito', sans-serif;
}

/*header della pagina*/
h1{
    font:bold;
    color: #BF2D60;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

header>p{
    text-align: center;
    margin-bottom: 30px;
}
/*fine header della pagina*/

/*inizio body della pagina*/

section .colum{
    float: left;
    /*margin-top: 10px;*/
    margin-bottom: 20px;
    width: calc(30%);
    height: 120px;
    margin-left: 30px;
    
    background-color: #0F0E17;
   
    
    /*ultima cosa da vedere è questa perchè quando do margine a sinistra mi manda tutto a capo*/


}

.contenitore{
    margin: 0px 100px;
    /* distanza data ai lati */
    
}
.contenitore .colum img{
    float: left;
    height: 120px;
    
}

.contenitore .colum p{
    color: white;
    margin-top: 15px;
    padding-left: 150px;
   
}
h2{color: white;
    margin-top: 15px;
    padding-left: 150px;
    font-size: larger;

}

.link{
    margin-top: 5px;
    padding-left: 30px;
    
}

a{
    text-decoration: none; 
    color: #2484BB;
    padding-left: px;
    
    padding-top: 1px;

}
/* fine body della pagina */


/*cose da rivedere 
1)il non riuscire a staccare l'email dal paragrafo
2)sbaglio per quanto riguarda il come ho sistemato a modo mio le cards 
3)fatto in modo differente 
4) problemi con l'ombra 



modificare nome mettendo h2
a non essendo block va inseito all' interno di un div


